
<!DOCTYPE html PUBLIC>
<html xmlns="http://www.w3.org/1999/xhtml">
  <!--
    Modified by {{ owner }}
  -->

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Apache2 Edited by role</title>
  </head>

  <body bgcolor='gray'>
        <img src="/icons/ubuntu-logo.png" alt="Ubuntu Logo" class="floating_element"/>
        <p> Apache Page by {{ owner }} with role
        <p> IP: {{ ansible_default_ipv4.address }}
  </body>
</html>

